@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-950 text-gray-300 font-mono;
    background-image:
      linear-gradient(rgba(100, 116, 139, 0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(100, 116, 139, 0.1) 1px, transparent 1px);
    background-size: 2.5rem 2.5rem;
    animation: pan 180s linear infinite;
  }
}

@keyframes pan {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40rem 40rem;
  }
}
