@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-200 font-sans;
    background-image:
      linear-gradient(rgba(0, 255, 255, 0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 2rem 2rem;
    animation: pan 60s linear infinite;
  }
}

@keyframes pan {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 20rem 20rem;
  }
}
